.technologies-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #0F2C57;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1.25rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.technologies-infos h3 {
  padding-inline: 1.25rem;
  margin-top: 2rem;
  color: #f5f5f5;
  font-size: 1.5rem;
}

.grup-tech {
  display: flex;
  align-items: center;
  margin-right: 0.9375rem;
  margin-left: 1.875rem;
  flex-wrap: wrap;
}

.info-tech {
  background: #FFCA0A;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 5.375rem;
  border-radius: 30px;
  margin-right: 0.9375rem;
  margin-top: 0.9375rem;
}

.info-tech p {
  font-size: 0.625rem;
  font-weight: 700;
  text-align: center;
}
